/node_modules
/vendor
/storage/*.key
/storage

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/_ide_helper.php
.phpstorm.meta.php
composer.lock

/public/storage
/public/images
/public/media
/public/vendor
/public/mix*

/_ide_helper.php
/_ide_helper_models.php
/package-lock.json
/zmaz
database/raw
public/photo
resources/views/BACKUP/*
data.ms/*
meilisearch.exe
public/sitemap.xml
