*       text=auto

*.jpg   binary
*.png   binary
*.ico   binary

*.blade.php diff=html
*.css       diff=css
*.html      diff=html
*.md        diff=markdown
*.php       diff=php

/.gitattributes  export-ignore
/.gitignore      export-ignore
/.github         export-ignore
CHANGELOG.md     export-ignore

