/node_modules
/vendor

/.idea
/.vscode

/database/raw

/public/asset
/public/favicons
/public/images
/public/storage
/public/mix*
/public/sitemap.xml

/storage/*
/storage/*.key

/data.ms/*
/zmaz

.editorconfig
.env
.env.backup
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
meilisearch.exe

BACKUP
