@charset "UTF-8";

.table-middle-align th,
.table-middle-align td {
    vertical-align: middle !important;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 200, 100, 0.4) !important;
}

.table-row-trashed {
    background: #ff83833f !important;
}

.hoverDiv:hover {
    background: #ffe1b9;
}

/* .table-last-padding th:last-of-type,
.table-last-padding td:last-of-type {
    padding-right: 1rem !important;
} */
.w35 {
    width: 35px;
    height: 33px;
}

.table td, .table th {
	border-top: 0;
}

.custom-file-label::after {
    color           : #495057;
    content         : "Vložiť";
    background-color: #e9ecef;
    border-left     : inherit;
    border-radius   : 0 0.25rem 0.25rem 0;
}
.user-header {
    height: 230px !important;
}

.brand-image {
    opacity:.8
}

.bg-backend {
    background-color: #e7e7e7;
}

.lh-1 {
    line-height: 1 !important;
}

.lh-sm {
    line-height: 1.25 !important;
}

.lh-base {
    line-height: 1.5 !important;
}

.lh-lg {
    line-height: 2 !important;
}

.vh-85 {
	height: 85vh !important;
}

.dropzone .dz-preview .dz-image img {
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
}

.img-article {
    position: absolute;
    z-index: 100;
    bottom  : -1.5rem;
}

.img-article-left {
    left    : 5px;
}

.img-article-right {
    right   : 5px;
}

.source {
	font-weight   : 400;
	font-size     : 14px;
}
dd {
    margin-left: 20px;
}

.priest-thumb {
    width: 60px;
}

.container-banner-show {
    min-height: 400px;
}

.ch_banner_wrapper {
	/* background: url('/images/bg/page_banner_bg.jpg') no-repeat; */
	background-size    : cover;
	position           : relative;
	background-position: center center;
}

.banner_heading {
	padding   : 100px 0;
	margin    : 0 auto;
	text-align: center;
}

.page_heading h2 {
	color         : #ffffff;
	/* text-transform: capitalize; */
	font-weight   : 700;
}

