	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/06/2017 11:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon/Flaticon.woff") format("woff"),
       url("../fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

.flaticon{   
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}

.flaticon-multiple-users-silhouette:before { content: "\f100"; }
.flaticon-cemetery-cross:before { content: "\f101"; }
.flaticon-goal:before { content: "\f102"; }
.flaticon-church:before { content: "\f103"; }