.ch_contact_section .contact_details h5 {
	color      : #ff7b33;
	font-size  : 16px;
	font-weight: 500;
}

.ch_pasters_section .ministry_desc a {
	text-decoration: none;
}

.ch_pasters_section .ministry_desc a:hover {
	color: #ff7b33;
}

.static-page p {
	text-align: justify;
}

.text-church-template {
	color: #ff7b33 !important;
}

.link-submenu {
    cursor: pointer;
    color: #fff ;
}

.link-template {
    text-decoration: none;
    color: #243a4f !important;
}

.link-template:hover {
	color: #ff7b33 !important;
}

.link-template-gray {
    text-decoration: none;
    /* color: #f2f2f2; */
    color: rgb(108, 117, 125);
}

.link-template-gray:hover {
	color: #ff7b33;
}

.link-template-light {
    text-decoration: none;
    color: #243a4fa6 !important;
}

.link-template-light:hover {
	color: #ff7b33 !important;
}

.text-church-template-blue {
    color: #243a4f !important;
}

.text-justify {
    text-align: justify;
}

.notice_heading_section {
	padding      : 20px 15px;
	text-align   : center;
}

.notice_heading_section h1 {
	color         : #243a4f;
	margin        : 0;
	font-weight   : 700;
	font-size     : 30px;
}

.pdfArea {
    border: 2px dotted #ff7b33;
}

.search-global em {
    color: #ff7b33;

}

.img-article {
    position: absolute;
    /* z-index: 100; */
	/* font-weight   : 400;
	font-size     : 10px; */
    background-color: #fff;
    /* color   : #243a4f; */
    bottom  : -1.1rem;
}

/* .img-article:hover {
	color: #ff7b33;
} */

.img-article-left {
    left    : 5px;
}

.img-article-right {
    right   : 5px;
}

.source {
	font-weight   : 400;
	font-size     : 10px;
}

.breadcrumb li,
.breadcrumb-item + .breadcrumb-item::before {
	color: #f8f8f8 !important;
}

#social-links {
	/* padding-left: 0; */
	list-style  : none;
	/* margin-top  : 22px; */
}

#social-links li {
	display     : inline-block;
	margin-right: 8px;
}

#social-links li a {
	display     : inline-block;
	margin-right: 8px;
}

#social-links li a {
	font-weight    : 500;
	font-size      : 22px;
	/* text-transform : capitalize; */
	color          : #333;
	text-decoration: none;
}

#social-links li a:hover {
	color: #ff7b33;
}

.notice_heading_section button:disabled {
    opacity: 0.3;
}

.owl-carousel .owl-item img {
    width: unset;
    max-width: 100%;
}

#toTop:hover,
#toTop:focus {
    background: #ff7b33;
    text-decoration: none;
}
#toTop {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 28px;
    margin: 0;
    padding: 8px 10px;
    /* display: none; */
    cursor: pointer;
    background: #404040;
    color: #fff;
    border-radius: 3px;
    transform: rotate(-90deg);
    font-size: 18px;
    text-align: center;
}

.logo-title {
	color: #ff7b33;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.picture-background-size {
    height: 400px;
}

.ch_source em {
    margin-right: 0.5rem;
}

#contentArticle img {
    max-width: 100%;
    height: auto;
}

.list-of-rules > li {
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
}
