@charset "UTF-8";

.table-middle-align th,
.table-middle-align td {
    vertical-align: middle !important;
}

.table-hover tbody tr:hover {
    background-color: rgba(255, 200, 100, 0.4);
}

.table-last-padding th:last-of-type,
.table-last-padding td:last-of-type {
    padding-right: 0.3rem !important;
}

.custom-file-label::after {
    color           : #495057;
    content         : "Vložiť";
    background-color: #e9ecef;
    border-left     : inherit;
    border-radius   : 0 0.25rem 0.25rem 0;
}

.hoverDiv:hover {
    background: #ffe1b9;
}

.bg-backend {
    background-color: #e7e7e7;
}

.lh-1 {
    line-height: 1 !important;
}

.lh-sm {
    line-height: 1.25 !important;
}

.lh-base {
    line-height: 1.5 !important;
}

.lh-lg {
    line-height: 2 !important;
}

.vh-85 {
	height: 85vh !important;
}

.dropzone .dz-preview .dz-image img {
	height: 100%;
}
